.fondo {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/assets/FondoVolquete.png'); /* Adjust path as needed */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */
    opacity: 0.2; /* Sets the opacity of the background image */
    z-index: -1; /* Places the pseudo-element behind other content */
}



.sombra{
    box-shadow: 2px 2px 2px black;
}